#status-label{
    margin-left: 15%;
    margin-right: 1%;
}

textarea{
    width: 80%;
    border: 2px solid black;
    font-size: 14px;
    height: 40%;
}

#home-button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 0;
    background-color: darkseagreen;
    cursor: pointer;
}

#home-button-img{
    height: 30px;
    width: 30px;
}
