header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 100%;
}

.logo-wrapper {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    display: inline;
    padding: 0%;
}

#logo {
    text-decoration: none;
    color: black;
}