table {
    width: 100%;
}

@media screen and (max-width: 900px){
    .date-modified{
        display: none
    }
}

@media screen and (max-width: 700px){
    .date-created{
        display: none
    }
}