#cancel{
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    writing-mode: horizontal-tb;
    text-rendering: auto;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: center;
    cursor: default;
    background-color: red;
    box-sizing: border-box;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;
    text-decoration: none;
    margin-left: 3%;
    width: 100px;
    font-size: large;
    height: 30px;
}

#add-issue-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 500px;
    margin: auto;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    border: 3px solid lightgray;
    border-radius: 30px;
}

#add-issue-button{
    width: 100px;
    height: 30px;
    font-size: large;
}

textarea{
    width: 80%;
    border: 2px solid black;
    font-size: 14px;
    height: 40%;
}

#select-project{
    width: 50%;
}